#restaurant {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.restaurant-item {
    width: 48%;
}
#restaurant-menus {
    margin-bottom: 20px;
}
.voice-device-id {
    font-size: 70%;
}